<link rel="stylesheet" href="<%= assetPath('css/resetpassword.css') %>">
<div id="bodymain">


    <div>
        <span id="logo" onclick="location.href='/'" style="cursor: pointer;">
            CODEIAL
        </span>
        <br>
        <span id="caption">
            Codeial helps you connect and share with the people in your life.
        </span>
    </div>

    <div id="inputbox">
        <form action="/reset-password/update" method="POST">
            <input type="hidden" name="accessToken" value="<%= accessToken %>">
            <input id="password" type="password" placeholder="New Password" name="password" required>
            <input id="password" type="password" placeholder="Confirm Password" name="cpassword" required>
            <button id="submit" type="submit">Change Password</button>
        </form>
    </div>
</div>