:root {
    --bg: #f0f2f5;
}

#bodymain {
    position: relative;
    height: calc(100% + 50px);
    width: 100%;
    background-color: var(--bg);

    div {
        position: absolute;
        height: 300px;
        width: 500px;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);

        #logo {
            color: var(--themeColor);
            font-size: 50px;
            font-family: Valo;
            cursor: all;
            user-select: none;
        }
        #caption {
            color: black;
            font-size: 30px;
            cursor: all;
            user-select: none;
        }
    }
    #inputbox {
        position: absolute;
        height: 420px;
        width: 400px;
        background-color: white;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: 0px 0px 5px slategray;

        #email {
            position: relative;
            width: calc(100% - 32px);
            margin-top: 10px;
            left: 50%;
            transform: translateX(-50%);
            padding: 14px 16px;
            font-size: 17px;
            border: 1px solid #dfe1e4;
            border-radius: 10px;
            outline: 0;
            &:hover {
                background-color: rgb(228, 230, 233);
            }
            &:focus {
                border: 2px solid var(--themeColor);
            }
        }
        #name {
            position: relative;
            width: calc(100% - 32px);
            margin-top: 10px;
            left: 50%;
            transform: translateX(-50%);
            padding: 14px 16px;
            font-size: 17px;
            border: 1px solid #dfe1e4;
            border-radius: 10px;
            outline: 0;
            &:hover {
                background-color: rgb(228, 230, 233);
            }
            &:focus {
                border: 2px solid var(--themeColor);
            }
        }
        #password {
            position: relative;
            width: calc(100% - 32px);
            margin-top: 10px;
            left: 50%;
            transform: translateX(-50%);
            padding: 14px 16px;
            font-size: 17px;
            border: 1px solid #dfe1e4;
            border-radius: 10px;
            outline: 0;
            &:hover {
                background-color: rgb(228, 230, 233);
            }
            &:focus {
                border: 2px solid var(--themeColor);
            }
        }
        #submit {
            position: relative;
            width: 100%;
            height: 50px;
            margin-top: 10px;
            left: 50%;
            transform: translateX(-50%);
            border: 0;
            background-color: var(--themeColor);
            border-radius: 10px;
            outline: 0;
            cursor: pointer;
            font-size: 23px;
            font-weight: bold;
            color: white;
            user-select: none;
            &:hover {
                background-color: var(--themeColorHover);
            }
        }
        form {
            width: 90%;
            padding-bottom: 20px;
            border-bottom: 2px solid #dfe1e4;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        #login {
            width: 50%;
            height: 50px;
            margin-top: 24px;
            background-color: #42b72a;
            border-radius: 10px;
            font-size: 20px;
            font-weight: bold;
            color: white;
            border: 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;
            user-select: none;
            &:hover {
                background-color: #40af29;
            }
        }
    }
}
#header {
    margin-top: -70px;
    opacity: 0;
}
