<div>

    <p>Hi <%= data.name %>
    </p>
    <br><br>
    <p>You Created a new account. Please click on the below link to verify your email.</p>
    <br>
    <p><a href="<%= data.accesslink %>">Verify Your Email</a></p>
    <br><br>
    <p>Thanks!</p>

</div>