<div>

    <p>Hi <%= data.name %>
    </p>
    <br><br>
    <p>You requested to change your account password. Please click on the below link to proceed.</p>
    <br>
    <p><a href="<%= data.accesslink %>">Reset Password</a></p>
    <br><br>
    <p>Thanks!</p>

</div>